<a href="/" class="goback-link">(back)</a>

<div class="center">
	{{numRides}} Rides<br>
	{{formatNumber distance "0,0.0"}} km Distance<br>
	{{formatNumber elevations "0,0.0"}} m Elevation
</div>

<ol class="logs">
	{{#each rides}}
	<li class="logs--item">
		<div class="logs--elevation">
			{{formatNumber total_elevation_gain "0,0.0"}}
			<span class="logs--elevation-unit">m</span>
		</div>
		<div>
			<div class="logs-date">
				<a href="https://www.strava.com/activities/{{ activity_id }}" target="_blank">
					{{formatDate start_date}}
				</a>
			</div>
			<div>
				{{name}}
			</div>
		</div>
	</li>
	{{/each}}
</ol>

{{> footer}}
